extends base.pug 
block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css 
        include ../static/about.css

block content         
    section#introSectionA
        div HOTEL-T 
        div.small The biggest and affordable hotel in the the world 
    section#adress 
        div.about 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nihil cupiditate fugit voluptatem quis voluptatibus dolores pariatur laboriosam vel cum? Doloremque sed quo culpa quisquam quae! Hic corrupti vitae, maxime iusto explicabo eos esse nemo totam ipsam et doloremque reprehenderit rerum possimus, fuga amet enim minus error quis iure blanditiis?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae mollitia aliquam totam repellat! Enim deserunt facere, quo nulla, vero repellendus, architecto id sint veniam aperiam suscipit illum perspiciatis impedit magnam.
        div.adress 
            p Adress : Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, quaerat. Mumbai 