doctype html
html 
    head 
        title Hotel-T
        block scripts 
        block style 
    body
        nav#navbar
            ul
                div#logo
                    img(src="static/img/hotel-logo.jpg")
                    | HOTEL-T
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/services") Services]
                //- li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
        block content 
    footer#footer
        | Copyright © 2022 Tarkeshwar Dance Academy.com | All Rights Reserved